@model AppUserLoginDto
@{
    ViewData["Title"] = "SignIn";
}

<div class="mt-4">

    <form method="post" class="p-4 w-75 mx-auto">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label class="mb-2 fw-bolder" asp-for="Username"></label>
            <input class="form-control" asp-for="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="mb-2 fw-bolder" asp-for="Password">Password:</label>
            <input id="password" type="password" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>

        </div>

        <div class="text-end">
            <button class="btn btn-outline-dark w-25">Send</button>
        </div>


    </form>
</div>


